<li>
  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
    홈 (작업중 미완)
  </button>

  <div class="collapse" id="home-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="{% url 'articles:this_week' %}" class="link-dark rounded">이번주 주제글</a></li>
      <li><a href="{% url 'articles:upcoming' %}" class="link-dark rounded">다음주 주제글 투표</a></li>
      <li><a href="{% url 'articles:history' %}" class="link-dark rounded">이전 주제글</a></li>
    </ul>
  </div>
</li>