{% for index_data in index_datas %}
  <li class="mb-1">
    {# subject toggle button #}
    {% if 'chapter' in request.resolver_match.route and the_subject.pk == index_data.subject.pk %}
      <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#{{ index_data.subject }}" aria-expanded="true">
        {{ index_data.subject }}
      </button>
    {% else %}
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#{{ index_data.subject }}" aria-expanded="false">
        {{ index_data.subject }}
      </button>
    {% endif %}

    {# subject toggle body #}
    <div class="collapse" id="{{ index_data.subject }}">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a class="link-dark text-decoration-none rounded" href="{% url 'articles:chapter' index_data.subject.pk %}">전체</a></li>
        {# chapter scrollspy #}
        {% for chapter in index_data.chapters %}
          <li><a class="link-dark text-decoration-none rounded" href="{% url 'articles:chapter' index_data.subject.pk %}#chapter-{{ chapter.pk }}">
            {{ chapter }}
          </a></li>
        {% endfor %}
      </ul>
    </div>
  </li>
{% endfor %}