{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center pb-3 mb-3 link-dark border-bottom">
    <span class="fs-5 fw-semibold ms-3">
      프로필
    </span>
  </div>

  <div class="my-4">
    {# 기본정보 #}
    <div class="row ms-3 text-dark">
      {# 필드명 #}
      <div class="col-2">
        <p class="fw-bold">아이디</p>
        <p class="fw-bold">레벨</p>
        <p class="fw-bold">이름</p>
        <p class="fw-bold">이메일</p>
      </div>
      
      {# 레코드 #}
      <div class="col-10">
        <p class="">{{ user.username }}</p>
        <p class="">{{ user.level }}</p>
        <p class="">{{ user.last_name }} {{ user.first_name}} </p>
        <p class="">{{ user.email }}</p>
      </div>
    </div>

    {# 작성한 문제 #}
    {% with title="작성한 문제" page="page_my" page_obj=page_obj_my %}
      {% include 'accounts/_article_list.html' %}
    {% endwith %}

    {# 작성한 문제 #}
    {% with title="저장한 문제" page="page_pin" page_obj=page_obj_pin %}
      {% include 'accounts/_article_list.html' %}
    {% endwith %}

  </div>
{% endblock content %}